Language: Cpp
BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 90

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: true

BreakBeforeBinaryOperators: All

PenaltyBreakAssignment: 1000
PenaltyReturnTypeOnItsOwnLine: 10000
PenaltyExcessCharacter: 100
