/.DS_Store
/.cache/
/.direnv/
/.toolchain/
/.worktrees/
/gamefiles/
/gamefiles.tar.gz
/build*/
/cmake-build-*/
/compile_commands.json
/fixture/
/docs/build/
/docs/html/
/docs/latex/
/test.bin
/modules/loader/include/gen/
/modules/sdk/include/dttr_pcdogs.h
/modules/sdk/include/dttr_pcdogs_unstable.h
/modules/sdk/include/dttr_sdk.h
/modules/sdk/src/generated/
/modules/sdk/src/pcdogs.c
/modules/sidecar/include/gen/
/modules/sidecar/shaders/cache/
__pycache__/
*.py[cod]

!/scripts/*
